<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div style="width:500px;margin:20px auto;text-align: center">
    <table align='center' border='1' cellspacing='0'>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>age</td>
        </tr>
        <tr th:each="c:${page}">
            <td th:text="${c.id}"></td>
            <td th:text="${c.name}"></td>
            <td th:text="${c.age}"></td>
        </tr>
    </table>
    <br/>
    <div>
            <a th:href="@{/findone(page=0)}">[首  页]</a>
            <a th:href="@{/findone(page=${page.number-1})}">[上一页]</a>
            <a th:href="@{/findone(page=${page.number+1})}">[下一页]</a>
             <a th:href="@{/findone(page=${page.totalPages-1})}">[末  页]</a>
    </div>
    <br/>     
</div>
</body>
</html>